{% extends 'header.html' %}
{% block content %}
<div class="container">
    <div class="col-lg-4 mt-4 mx-auto border rounded pt-4">

      <h3 class="alert alert-light border rounded">Login Here</h3>
        <form action="/login" method="post">

        {% csrf_token %}

          {%if error%}

          <div class = "alert alert-danger" role="alert">
            {{error}}
          </div>
          {% endif %}




            <div class="form-group">
            <label for="example-text-input3" class="col-form-label"> Email <span class="star" style="color: red">*</span></label>
            <input class="form-control form-control-sm" type="text" id="example-text-input3"  name="mail" value="{{values.email}}">
            </div>

            <div class="form-group">
            <label for="example-text-input4" class="col-form-label">password <span class="star" style="color: red">*</span></label>
            <input class="form-control form-control-sm" type="password" id="example-text-input4"   name="pass" >
            </div>

            <div class="form-group">
           <center> <input  type="submit" class="btn btn-primary" name="submit" value="login"> </center>
            </div>
        </form>

    </div>
</div>
{% endblock %}
